.footer_home {
  background: url("../../icons/footer.svg") no-repeat bottom;
  min-height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;

  &__text {
    margin-bottom: 75px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }

  &__link {
    color: #3A80BA;
    font-weight: 600;
  }

  &__rights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    color: #fff;
    max-width: 1470px;
    width: 100vw;
    padding: 0 130px;

  }

  &__field {
    display: flex;
    align-items: center;
    width: 579px;
    min-height: 64px;
    background: #fff;
    border: 1px solid #f1f1f1;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 26px;
  }

  &__input {
    width: 399px;
    height: 55px;
    border: none;
    padding: 15px 19px;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
  }

  &__button {
    width: 176px;
    height: 56px;
    background: #3A80BA;
    border-radius: 8px;
    color: #fff;

    &:hover {
      background: #fff;
      color: #3A80BA;
      border: 1px solid #3A80BA;
    }
  }
}

@media screen and (max-width: 1010px){
  .footer_home {
    &__rights {
      padding: 0 40px;
      font-size: 16px;
      text-align: center;
    }
   }
}

@media screen and (max-width: 890px){
  .footer_home {
    &__text {
      margin-bottom: 20px;
    }
    &__field {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
}

@media screen and (max-width: 430px){
  .footer_home {
    background-color: #3A80BA;
    padding-bottom: 40px;
    &__text {
      margin-bottom: 50px;
    }

    &__rights {
      flex-direction: column;

      & :nth-child(2) {
        margin: 20px 0;
      }
    }

    &__input {
      width: 340px;
    }

    &__link {
      color: #fff;
      font-weight: 600;
    }
  }
}
