@import "/components/users/users";
@import "./components/usersList/usersList";
@import "components/usersPagination/usersPagination";
@import "./components/homeHeader/homeHeader";
@import "./components/homeMain/homeMain";
@import "./components/homeFooter/homeFooter";
@import "./components/statistic/statistic";
//* {
//  border: 1px solid black;
//}
body,
th,
h1,
h3,
h2,
p {
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  overflow-x: hidden;
}

button {
  outline: none;
}

.link {
  text-decoration: none;
}

.invisible {
  display: none;
}



